menu "Pin layout"
    config PIN_LED
        int "On Board LED GPIO Num"
        range ENV_GPIO_RANGE_MIN ENV_GPIO_OUT_RANGE_MAX
        default 23
        help
            GPIO number for Led that App will use as UI.
    
    config PIN_BUTTON
        int "On Board Button GPIO Num"
        range ENV_GPIO_RANGE_MIN ENV_GPIO_OUT_RANGE_MAX
        default 9
        help
            GPIO number for the button that App will use as UI.
    
    config VOLUME_METER_PIN
        int "Connected Impulsion volume meter"
        range ENV_GPIO_RANGE_MIN ENV_GPIO_OUT_RANGE_MAX
        default 15
        help
            GPIO number for Impulsion volumetric meter.
            Should have a pull up and an RC network for debouncing.
endmenu

menu "Zigbee endpoints"
    config WATERMETER_EP
        int "Watermeter Endpoint"
        range 0 1024
        default 1
        help
           Zigbee endpoint for watermeter.
    
    config UPSTREAM_EP
        int "Upstream Endpoint"
        range 0 1024
        default 2
        help
            Zigbee endpoint for upstream pressure.
    
    config DOWNSTREAM_EP
        int "downstream Endpoint"
        range 0 1024
        default 3
        help
            Zigbee endpoint for downstream pressure.
endmenu

