menu "Project Settings"
    
    orsource "$IDF_PATH/examples/common_components/env_caps/$IDF_TARGET/Kconfig.env_caps"

    comment "Module Debugging"

    rsource "./../components/zigbee/Kconfig.zb"
    rsource "./../drivers/Kconfig.drivers"
    
endmenu
